.wrapper {
  margin-bottom: 40px;
}

.blog-header {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.blog-body {
  margin-top: 70px;
}

.blog-image {
    padding: 0;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.blog-post-header {
  margin-bottom: 30px;
  .blog-post-title {
    text-transform: uppercase;
    color: #666;
    letter-spacing: 0.05em;
    font-size: 25px;
  }
  
  .blog-post-date{
    color: #cacaca;
    float: right;
    font-size: 18px;
  }

}

.blog-post-tag {
  margin-top: 30px
}

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 455ms;
  --organic-arrow-thickness: 11px;
  --organic-arrow-border-radius: 12px;
  --organic-arrow-height: 52px;
  --organic-arrow-color: #538bd5;
  --control-button-width: 18%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #62a4fa;
  --control-bullet-active-color: #538bd5;
  --loader-bar-color: #851515;
  --loader-bar-height: 7px;
  }  
