.construct-wrap {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/construction.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.construct-content {
    min-height: 10px;
    width: 90%;
}

.construct-desc {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.construct-text {
    font-size: 30px;
    font-weight: 100;
    color: white;
}

.construct-title {
    letter-spacing: 0.05em;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

.construct-title {
    color: rgba(255,255,255,0.1);
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-color: black;
}

@-moz-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

.construct-form {
    margin-top: 30px;
}

.construct-input {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 300px;
    border-radius: 35px;
    padding: 15px;
    margin-right: 20px;
    text-align: center;
}

.construct-button {
    font-family: 'Montserrat', sans-serif;
    width: 130px;
    padding: 15px;
    border: none;
    border-radius: 35px;
    color: white;
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}